<div
  class="flex flex-col justify-center w-full md:h-[70%] lg:h-[90%] xl:h-[90%]"
>
  <div
    *ngIf="currentScreenSize !== 'XSmall'"
    class="flex w-full h-full flex-row justify-around items-center"
  >
    <div class="flex flex-col items-center w-full h-full">
      <app-weapon
        [class]="
          result
            ? 'md:w-40 md:h-60 lg:h-80 lg:w-80 xl:h-[100%] xl:w-[100%]'
            : 'md:w-60 md:h-[22rem] lg:h-[90%] xl:h-[30rem] lg:w-[60%]'
        "
        [selected]="weapon"
      ></app-weapon>
      <p>YOUR PICKED</p>
    </div>
    <div
      *ngIf="result"
      class="flex flex-col justify-center p-3 items-center w-full"
    >
      <p class="text-white text-[5vw] text-center leading-[1]">{{ result }}</p>
      <button
        class="bg-white text-red rounded-xl leading-[1] text-[3vw] p-3 max-w-[300px]"
        (click)="back.emit()"
      >
        PLAY AGAIN
      </button>
    </div>
    <div class="flex flex-col items-center w-full h-full">
      <app-weapon
        [class]="
          result
            ? 'md:w-40 md:h-60 lg:h-80 lg:w-80 xl:h-[30rem] xl:w-[100%]'
            : 'md:w-60 md:h-60 lg:h-[90%] xl:h-full lg:w-[60%]'
        "
        [selected]="weaponIA"
      ></app-weapon>
      <P>THE HOUSE PICKED</P>
    </div>
  </div>
  <div
    *ngIf="currentScreenSize == 'XSmall'"
    class="flex flex-row w-full md:invisible lg:px-32 justify-around items-center"
  >
    <div class="flex flex-col">
      <app-weapon
        *ngIf="result"
        class="relative w-28 h-28"
        [selected]="weapon"
      ></app-weapon>
      <app-weapon
        *ngIf="!result"
        class="relative w-48 h-48"
        [selected]="weapon"
      ></app-weapon>
      <P>YOUR PICKED</P>
    </div>

    <div class="flex flex-col">
      <app-weapon
        *ngIf="result"
        class="relative w-28 h-28"
        [selected]="weaponIA"
      ></app-weapon>
      <app-weapon
        *ngIf="!result"
        class="relative w-48 h-48"
        [selected]="weaponIA"
      ></app-weapon>
      <P>THE HOUSE PICKED</P>
    </div>
  </div>
  <div
    class="flex flex-col w-full p-5"
    *ngIf="currentScreenSize == 'XSmall' && result"
  >
    <div class="flex justify-center items-center">
      <p class="result text-white leading-[1] text-center">{{ result }}</p>
    </div>
    <button
      class="bg-white w-full text-red rounded-xl leading-[1] text-[200%] p-3 flex justify-center items-center"
      (click)="back.emit()"
    >
      PLAY AGAIN
    </button>
  </div>
</div>
