p {
    color: #FFF;
    margin: 12px 0 !important;
    width: 100%;
    justify-content: center;
    display: flex;
    font-size: 2.5vh
}

@media screen and (min-width:500px) {
    p {
        font-size: 5vh !important;
    }

}