<div class="flex w-full flex-col justify-between items-center">
  <img class="absolute top-64" src="assets/images/bg-triangle.svg" alt="" />

  <app-weapon
    class="relative top-0 right-[30%] md:right-[18%] lg:right-[14%] xl:right-[10%]"
    selected="paper"
  ></app-weapon>
  <app-weapon
    class="relative top-[-33%] lg:left-[14%] md:left-[18%] left-[30%] xl:left-[10%] xl:top-[-36%]"
    selected="scissors"
  ></app-weapon>
  <app-weapon class="relative top-[-10%]" selected="rock"></app-weapon>
</div>
