<div
  *ngIf="!tbbt"
  class="flex w-full flex-col justify-between items-center md:px-[20%]"
>
  <div class="box-options">
    <div class="line1">
      <app-weapon
        class="w-[30%] md:w-[33%] lg:w-[40%] h-full md:h-full"
        (click)="select.emit('paper')"
        selected="paper"
      ></app-weapon>
      <app-weapon
        class="w-[30%] md:w-[33%] lg:w-[40%] h-full md:h-full"
        (click)="select.emit('scissors')"
        selected="scissors"
      ></app-weapon>
    </div>
    <div class="line2">
      <app-weapon
        class="w-[30%] md:w-[33%] lg:w-[40%] h-full md:h-full"
        (click)="select.emit('rock')"
        selected="rock"
      ></app-weapon>
    </div>
  </div>
</div>
<div
  *ngIf="tbbt"
  class="flex w-full flex-col justify-between items-center md:px-[20%]"
>
  <div class="box-options tbbt">
    <div class="line1-tbbt">
      <app-weapon
        class="w-[30%] md:w-[33%] lg:w-[36%] h-full md:h-[120%]"
        (click)="select.emit('scissors')"
        selected="scissors"
      ></app-weapon>
    </div>
    <div class="line2-tbbt">
      <app-weapon
        class="w-[30%] md:w-[33%] lg:w-[36%] h-full md:h-full"
        (click)="select.emit('spock')"
        selected="spock"
      ></app-weapon>
      <app-weapon
        class="w-[30%] md:w-[33%] lg:w-[36%] h-full md:h-full"
        (click)="select.emit('paper')"
        selected="paper"
      ></app-weapon>
    </div>
    <div class="line3-tbbt">
      <app-weapon
        class="w-[30%] md:w-[33%] lg:w-[36%] h-full md:h-full"
        (click)="select.emit('lizard')"
        selected="lizard"
      ></app-weapon>
      <app-weapon
        class="w-[30%] md:w-[33%] lg:w-[36%] h-full md:h-full"
        (click)="select.emit('rock')"
        selected="rock"
      ></app-weapon>
    </div>
  </div>
</div>
