.box-options {
    background-image: url('/assets/images/bg-triangle.svg');
    display: flex;
    width: 100%;
    height: 100%;
    // margin: 50px;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;

    @media screen and (min-width:500px) {
        background-size: 60%;
    }

    .line1 {
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .line2 {
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
    }
}

.bg-size {
    background-size: 90%;

    @media screen and (min-width:500px) {
        background-size: 80%;
    }
}

.tbbt {

    background-image: url('/assets/images/bg-pentagon.svg');

    .line1-tbbt {
        height: 30%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .line2-tbbt {
        height: 35%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .line3-tbbt {
        height: 35%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: end;
    }

}