<section class="box flex flex-col h-full">
  <div class="scored h-1/2">
    <app-header
      class="w-full flex justify-center items-center"
      [listWeapons]="listWeapons"
    ></app-header>
  </div>
  <div class="game h-full">
    <app-game
      [tbbt]="tbbt"
      (select)="weaponSelected = $event"
      *ngIf="!weaponSelected"
      class="w-full h-full flex"
    ></app-game>

    <app-player
      (back)="weaponSelected = $event"
      [weapon]="weaponSelected"
      [weapons]="listWeapons"
      *ngIf="weaponSelected"
      class="w-full h-full flex"
    ></app-player>
  </div>
  <div class="flex flex-row justify-between items-center">
    <app-button-switch class="m-3" (tbbt)="changeOption()"></app-button-switch>
    <button (click)="openRules()" class="rules">RULES</button>
  </div>
</section>
