<span
  matRipple
  [matRippleCentered]="true"
  [matRippleUnbounded]="true"
  class="rounded-full cursor-pointer relative w-full flex h-full justify-center items-center"
  [class]="selected"
>
  <span
    *ngIf="selected == 'paper'"
    class="rounded-full transition-opacity fixed z-10 bg-white w-[75%] flex justify-center items-center h-[75%] p-[10%]"
  >
    <img class="w-full" src="assets/images/icon-paper.svg" alt="" />
  </span>
  <span
    *ngIf="selected == 'rock'"
    class="rounded-full transition-opacity fixed z-10 bg-white w-[75%] flex justify-center items-center h-[75%] p-[10%]"
  >
    <img class="w-full" src="assets/images/icon-rock.svg" alt="" />
  </span>
  <span
    *ngIf="selected == 'scissors'"
    class="rounded-full transition-opacity fixed z-10 bg-white w-[75%] flex justify-center items-center h-[75%] p-[10%]"
  >
    <img class="w-full" src="assets/images/icon-scissors.svg" alt="" />
  </span>
</span>
